
<nav ng-model="foo" class="navbar navbar-expand-sm   navbar-dark" >



    <img src="/assets/images/user.png" alt="image">
    &nbsp;&nbsp;
    <ul class = "navbar-nav" style="margin-right: 0px; float: right; color: white;">
  
  
  
      <li >
        <a type="button" (click)="login()"  class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getLoginIdTxt()}}</div></a>
      </li>&nbsp;&nbsp;
      
      <li >
        <a type="button" (click)="goHome()"  class="nav-link">
            <div style="color: white; font-size: 20px">
              Home</div></a>
      </li>&nbsp;&nbsp;
  
  
      <li>
        <a type="button" class="nav-link">
            <div style="color: white; font-size: 20px">View Books</div></a>
      </li>&nbsp;&nbsp;
  
  
  
  
      <li >
        <a type="button"   class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getMyLoansTxt()}}</div></a>
      </li>&nbsp;&nbsp;
  
  
  
  
      <li >
        <a type="button" (click)="manageUsers()"  class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getManageUsersTxt()}}</div></a>
      </li>&nbsp;&nbsp;
  
  
  
      <li >
        <a type="button"   class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getManageBoosTxt()}}</div></a>
      </li>&nbsp;&nbsp;
  
  
  
      <li >
        <a type="button"   class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getManageLendingTxt()}}</div></a>
      </li>&nbsp;&nbsp;
  
  
  
    </ul>
  </nav>




<div style="margin-left: 100px; margin-top: 100px; margin-bottom: 100px;">
<h2>User List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.role}}</td>
            <td>{{user.emailID}}</td>
            <td>
                <button id="eubtn" (click)="updateUser(admin.id, user.id)" class="btn bnt-info">Update</button>
                <button id="dubtn" (click)="deleteUser(user.id)" class="btn bnt-danger" style="margin-left: 10px;">Delete</button>
                <button id="vubtn" (click)="viewUser(admin.id,user.id)" class="btn bnt-danger" style="margin-left: 10px;">View</button>
            </td>
        </tr> 
    </tbody>
</table>
</div>