
<nav ng-model="foo" class="navbar navbar-expand-sm   navbar-dark" >



    <img src="/assets/images/user.png" alt="image">
    &nbsp;&nbsp;
    <ul class = "navbar-nav" style="margin-right: 0px; float: right; color: white;">
  
  
  
      <li >
        <a type="button" (click)="login()"  class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getLoginIdTxt()}}</div></a>
      </li>&nbsp;&nbsp;
      
      <li >
        <a type="button" (click)="goHome()"  class="nav-link">
            <div style="color: white; font-size: 20px">
              Home</div></a>
      </li>&nbsp;&nbsp;
  
  
      <li>
        <a type="button" (click)="viewBooks()" class="nav-link">
            <div style="color: white; font-size: 20px">View Books</div></a>
      </li>&nbsp;&nbsp;
  
  
  
  
      <li >
        <a type="button" (click)="goToMyLoans()"  class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getMyLoansTxt()}}</div></a>
      </li>&nbsp;&nbsp;
  
  
  
  
      <li >
        <a type="button" (click)="manageUsers()"  class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getManageUsersTxt()}}</div></a>
      </li>&nbsp;&nbsp;
  
  
  
      <li >
        <a type="button" (click)="manageBooks()"  class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getManageBoosTxt()}}</div></a>
      </li>&nbsp;&nbsp;
  
  
  
      <li >
        <a type="button" (click)="manageLending()"  class="nav-link">
            <div style="color: white; font-size: 20px">
              {{getManageLendingTxt()}}</div></a>
      </li>&nbsp;&nbsp;
  
  
  
    </ul>
  </nav>


  <div style="margin-left: 50px; margin-top: 100px; margin-bottom: 100px;">
    <h2  class="display-5" >Manage Literature 
      <button style="width : 400px;margin-left: 20px;" class="btn bnt-info" (click)="createBook()" class="btn btn-success">
        Add New Material</button></h2> 
        <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Date</th>
                <th>ISBN</th>
                <th>TotalNo</th>
                <th>AvailableNo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let literature of literatures">
                <td>{{literature.id}}</td>
                <td>{{literature.title}}</td>
                <td>{{literature.author}}</td>
                <td>{{literature.category}}</td>
                <td>{{literature.issuedDate}}</td>
                <td>{{literature.isbn}}</td>
                <td>{{literature.totalBooks}}</td>
                <td>{{getAvailableBooks(literature)}}</td>
                <td>
                    <button id="eubtn" (click)="updateLiterature(literature.id)" class="btn bnt-info">Update</button>
                    <button id="dubtn" (click)="deleteLiterature(literature.id)" class="btn bnt-danger" style="margin-left: 10px;">Delete</button>
                    <button id="vubtn" (click)="viewLiterature(literature.id)" class="btn bnt-danger" style="margin-left: 10px;">View</button>
                </td>
            </tr> 
        </tbody>
    </table>
    </div>